services:
  mysql:
    image: mysql:8.0
    container_name: meteor-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: '07210521'
      TZ: Asia/Shanghai
    volumes:
      - ./mysql/data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-time-zone=+08:00

  redis:
    image: redis:7
    container_name: meteor-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    command: ["redis-server", "--appendonly", "yes"]

  minio:
    image: minio/minio:RELEASE.2024-07-29T22-14-52Z
    container_name: meteor-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    volumes:
      - ./minio/data:/data
    command: server /data --console-address ":9001"

  rabbitmq:
    image: rabbitmq:3.8-management
    container_name: meteor-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./rabbitmq/data:/var/lib/rabbitmq


  nacos:
    image: nacos/nacos-server:v2.3.2
    container_name: meteor-nacos
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9849:9849"
    environment:
      MODE: "standalone"
      PREFER_HOST_MODE: "hostname"