application:
  version: ${APP_VERSION:1.0.0}

spring:
  application:
    name: meteor-gateway

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB

  data:
    redis:
      host: ${programmer.redis.host}
      port: ${programmer.redis.port}
      password: ${programmer.redis.password}
      timeout: 5000ms

  cloud:
    nacos:
      discovery:
        server-addr: ${programmer.nacos.addr}
        group: ${programmer.nacos.group:DEFAULT_GROUP}
        register-enabled: true
        instance-enabled: true
        metadata:
          preserved.register.source: SPRING_CLOUD

    inetutils:
      preferred-networks:
        - 127.0.0.1

    gateway:
      routes:
        - id: meteor-user
          uri: lb://meteor-user
          predicates:
            - Path=/user/**

        - id: meteor-admin
          uri: lb://meteor-admin
          predicates:
            - Path=/admin/**

server:
  port: ${GATEWAY_PORT:8080}

logging:
  level:
    com.meteor: ${LOG_LEVEL:debug}
  file:
    path: logs

sa-token:
  token-name: Authorization
  timeout: 86400
  active-timeout: -1
  is-concurrent: false
  is-share: true
  token-style: uuid
  is-log: true
  token-prefix: Bearer
