server:
  port: 8080

spring:
  application:
    name: meteor-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/user/**
      default-filters:
        - AddResponseHeader=X-Gateway-Test, OK
