# 开发环境配置
application:
  version: 1.0.0
spring:
  # 程序名称
  application:
    name: meteor-gateway
  # 开发环境
  profiles:
    active: local
  # 上传文件限制
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  # redis 配置
  redis:
    host: ${programmer.redis.host}
    port: ${programmer.redis.port}
    password: ${programmer.redis.password}
    timeout: 5000ms

  # 网关配置
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

    gateway:
      routes:
        - id: meteor-user
          uri: lb://meteor-user
          predicates:
            - Path=/user/**

        - id: meteor-admin
          uri: lb://meteor-admin
          predicates:
            - Path=/admin/**


# 日志级别
logging:
  level:
    com.meteor: debug
  file:
    path: logs
server:
  port: 8080
# sa-token
sa-token:
  token-name: Authorization
  timeout: 86400
  active-timeout: -1
  is-concurrent: false
  is-share: true
  token-style: uuid
  is-log: true
  token-prefix: Bearer

